html, body, #main, .extension-list-container {
    height: 100%;
}

img {
    object-fit: contain;
}

.visually-hidden {
    position: absolute;
    left: -100000rem;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}