* {
    line-height: 1.6;
}

html, body, #main, .extension-list-container {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
}

img {
    object-fit: contain;
}

.visually-hidden {
    position: absolute;
    left: -100000rem;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}