<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Hi <span th:text="${name}">John Doe</span>,</p>
<p>
    Your access token <code th:if="${!#strings.isEmpty(tokenName)}" th:text="${tokenName}">Test token</code> has expired on <span th:text="${#temporals.format(expiryDate, 'dd-MM-YYYY')}">14-11-2025</span>.
    Please generate a new token to continue accessing the service.
</p>
<p>
    Regards, <br />
    <em>The Open VSX Team</em>
</p>
</body>
</html>
