.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/dist/
/lib/
/static/bundle.*
/static/*-report.html
node_modules/
yarn-error.log
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
