{
    "tabWidth": 4,
    "printWidth": 140,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "semi": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "htmlWhitespaceSensitivity": "strict"
}
