name: Playwright Tests against open-vsx.org
on:
  workflow_dispatch:
  schedule:
    - cron: "0 18 * * *" # run every day at 6pm
  # push:
  #   branches: [main, master]
  # pull_request:
  #   branches: [main, master]
jobs:
  test:
    permissions:
      contents: none
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238  # v6.2.0
        with:
          node-version: 18.x
      - name: Install dependencies
        working-directory: ./webui
        run: yarn
      - name: Install Playwright Browsers
        working-directory: ./webui
        run: yarn playwright install --with-deps
      - name: Run Playwright tests
        working-directory: ./webui
        run: yarn smoke-tests
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        if: always()
        with:
          name: playwright-report
          path: webui/playwright-report/
          retention-days: 30
