name: Scorecard analysis workflow
on:
  push:
    branches:
    - master
  schedule:
    # Weekly on Saturdays.
    - cron:  '30 1 * * 6'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  analysis:
    if: github.repository_owner == 'eclipse'
    name: Scorecard analysis
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - name: "Checkout code"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: "Run analysis"
        uses: ossf/scorecard-action@05b42c624433fc40578a4040d5cf5e36ddca8cde # v2.4.2
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true
